:root {
    --font-display: "DM Serif Display", serif;
    --font-body: "DM Sans", sans-serif;
    --cl-cream: #EEE5DA;
    --cl-orange: #D75300;
    --cl-black: #262424;
    --cl-white: #ffffff;
    --cl-gray: #535366;
}

// breakpoint
$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-desktop: 1200px;
$screen-large-desktop: 1440px;

// mixin
@mixin min-responsive ($media) {
    @media (min-width: $media) {
        @content;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);    
    background: var(--cl-cream);
    color: var(--cl-black);
    min-height: 100vh;
    position: relative;
}

a,a:hover {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
    border-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
}

iframe,video {
    vertical-align: top
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0
}

input:focus {
    outline: 0
}

input:focus:-moz-placeholder,input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder {
    color: transparent
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    @media(min-width:$screen-desktop) {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 80px;
        padding-right: 80px;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    &List {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &-link {
            text-transform: uppercase;
            text-align: right;
            position: relative;
            &.active {
                font-style: italic;
                font-weight: 600;
                padding-right: 20px;
                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 2px;
                    background: var(--cl-black);
                }
            }
        }
    }
}

main {
    padding-top: 100px;
}

.iconOrnament {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url('data:image/svg+xml,<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_28_20)"><path d="M42.3383 90.5723L45.0966 56.9218L17.7494 75.9658L10.0967 62.5188L40.7237 49.2064L10.4102 35.8998L17.7158 22.9454L45.3684 42.1827L42.4067 8.51208L57.3666 8.56467L53.9483 42.2129L81.5154 23.1697L88.5105 35.9543L58.1028 49.4875L88.6354 63.0149L81.3298 75.9693L53.8965 56.9528L56.8582 90.6234L42.3383 90.5723Z" fill="black"/></g><defs><clipPath id="clip0_28_20"><rect width="100" height="100" fill="white"/></clipPath></defs></svg>');
    background-size: 10px;
    margin-right: 4px;
}

.tagline {
    border-radius: 50px;
    padding: 8px 16px;
    width: fit-content;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 24px;
    &.primary {
        background: var(--cl-cream);
        color: var(--cl-orange);
        .iconOrnament {
            filter: invert(39%) sepia(82%) saturate(4260%) hue-rotate(14deg) brightness(96%) contrast(101%);
        }
    }
    &.secondary {
        background: var(--cl-black);
        color: var(--cl-white);
        .iconOrnament {
            filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(334deg) brightness(106%) contrast(99%);
        }
    }
}

.hero {
    min-height: 100vh;
    &Wrap {
        display: flex;
        flex-direction: column;
    }
    &Title {
        font-size: clamp(48px, 10vw, 96px);
        margin: 90px 0 30px;
        line-height: 105%;
        span {
            font-family: var(--font-display);
            color: var(--cl-orange);
            font-style: italic;
        }
    }
    &Desc {
        font-size: 16px;
        margin-bottom: 60px;
        @media(min-width:$screen-tablet) {
            max-width: 467px;
        }
    }
    &Order {
        display: flex;
        gap: 8px;
        &-img {
            width: auto;
            height: 32px;
        }
        &-desc {
            a {
                h2 {
                    font-size: 16px;
                    margin: 0;
                    line-height: 1;
            }
                p {
                    font-size: 14px;
                    color: var(--cl-gray);
                    margin: 0;
                }
            }
        }
    }
}

.about {
    background: var(--cl-black);
    color: var(--cl-white);
    &Wrap {
        padding-top: 100px;
        padding-bottom: 120px;
    }
    &Title {
        font-weight: 800;
        font-size: 24px;
        max-width: 400px;
        line-height: 150%;
    }

    &Desc {
        display: flex;
        flex-direction: column;
        @media(min-width:$screen-tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &Client {
        max-width: 400px;
        flex-shrink: 0;
        display: flex;
        gap: 40px;
        align-self: flex-end;
        &-item {
            h2 {
                font-family: var(--font-display);
                font-size: 64px;
                span {
                    font-size: 24px;
                    vertical-align: super;
                }
            }
        }
    }

    &Detail {
        max-width: 550px;
        p {
            &:first-of-type {
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 24px;
            }
        }
    }
}

.service {
    &Wrap {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &Title{
        font-weight: 800;
        font-size: 24px;
        // max-width: 600px;
        line-height: 150%;
    }

    &List {
        margin-top: 24px;
    }
    &Item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 1px solid var(--cl-black);
        padding-top: 16px;
        @media(min-width:$screen-tablet) {
            flex-direction: row;
        }

        &-title {
            font-size: 32px;
            text-transform: uppercase;
            @media(min-width:$screen-tablet) {
                max-width: 400px;
                flex-shrink: 0;
            }
        }

        &-desc {
            padding: 32px 0;
            max-width: 400px;
            font-size: 18px;
        }

        &-price {
            margin: 32px 0 16px;
            span {
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        &-button {
            border: 1px solid var(--cl-black);
            padding: 8px 16px;
            border-radius: 50px;
        }
    }
}

.contact {
    background: var(--cl-black);
    color: var(--cl-white);
    
}