:root {
  --font-display: "DM Serif Display", serif;
  --font-body: "DM Sans", sans-serif;
  --cl-cream: #EEE5DA;
  --cl-orange: #D75300;
  --cl-black: #262424;
  --cl-white: #ffffff;
  --cl-gray: #535366;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background: var(--cl-cream);
  color: var(--cl-black);
  min-height: 100vh;
  position: relative;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
  border-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

iframe, video {
  vertical-align: top;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

input:focus {
  outline: 0;
}

input:focus:-moz-placeholder, input:focus:-ms-input-placeholder, input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.navList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.navList-link {
  text-transform: uppercase;
  text-align: right;
  position: relative;
}
.navList-link.active {
  font-style: italic;
  font-weight: 600;
  padding-right: 20px;
}
.navList-link.active::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 2px;
  background: var(--cl-black);
}

main {
  padding-top: 100px;
}

.iconOrnament {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url('data:image/svg+xml,<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_28_20)"><path d="M42.3383 90.5723L45.0966 56.9218L17.7494 75.9658L10.0967 62.5188L40.7237 49.2064L10.4102 35.8998L17.7158 22.9454L45.3684 42.1827L42.4067 8.51208L57.3666 8.56467L53.9483 42.2129L81.5154 23.1697L88.5105 35.9543L58.1028 49.4875L88.6354 63.0149L81.3298 75.9693L53.8965 56.9528L56.8582 90.6234L42.3383 90.5723Z" fill="black"/></g><defs><clipPath id="clip0_28_20"><rect width="100" height="100" fill="white"/></clipPath></defs></svg>');
  background-size: 10px;
  margin-right: 4px;
}

.tagline {
  text-transform: uppercase;
  padding-right: 16px;
  padding-left: 20px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.tagline::before {
  content: "</";
  position: absolute;
  left: 0;
}
.tagline::after {
  content: ">";
  position: absolute;
  right: 0;
}

.hero {
  min-height: 100vh;
}
.heroWrap {
  display: flex;
  flex-direction: column;
}
.heroTitle {
  font-size: clamp(52px, 18vw, 96px);
  margin: 90px 0 30px;
  line-height: 105%;
}
.heroTitle span {
  font-family: var(--font-display);
  color: var(--cl-orange);
  font-style: italic;
}
.heroDesc {
  font-size: 16px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .heroDesc {
    max-width: 467px;
  }
}
.heroOrder {
  display: flex;
  gap: 8px;
}
.heroOrder-img {
  width: auto;
  height: 24px;
}
.heroOrder-desc a h2 {
  font-size: 14px;
  margin: 0;
  line-height: 1;
}
.heroOrder-desc a p {
  font-size: 12px;
  color: var(--cl-gray);
  margin: 0;
}

.about {
  background: var(--cl-black);
  color: var(--cl-white);
}
.aboutWrap {
  padding-top: 100px;
  padding-bottom: 120px;
}
.aboutTitle {
  font-weight: 800;
  font-size: 24px;
  max-width: 400px;
  line-height: 150%;
  margin-bottom: 80px;
}
.aboutDesc {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}
@media (min-width: 768px) {
  .aboutDesc {
    flex-direction: row;
    justify-content: space-between;
  }
}
.aboutClient {
  max-width: 400px;
  flex-shrink: 0;
  display: flex;
  gap: 40px;
}
@media (min-width: 768px) {
  .aboutClient {
    align-self: flex-end;
  }
}
.aboutClient-item h2 {
  font-family: var(--font-display);
  font-size: 64px;
}
.aboutClient-item h2 span {
  font-size: 24px;
  vertical-align: super;
}
.aboutDetail {
  max-width: 550px;
}
.aboutDetail p:first-of-type {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 24px;
}
.about .tagline {
  color: var(--cl-white);
}

.serviceWrap {
  padding-top: 100px;
  padding-bottom: 100px;
}
.serviceTitle {
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
}
.serviceList {
  margin-top: 60px;
}
.serviceItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid var(--cl-black);
  padding: 32px 0;
}
.serviceItem-title {
  font-size: 32px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .serviceItem-title {
    max-width: 400px;
    flex-shrink: 0;
  }
}
.serviceItem-desc {
  padding: 32px 0;
  align-self: flex-end;
  font-size: 18px;
  max-width: 540px;
}
.serviceItem-desc p {
  margin-bottom: 32px;
}
.serviceItem-price {
  margin: 32px 0 16px;
}
.serviceItem-price span {
  font-weight: 600;
  text-transform: uppercase;
}
.serviceItem-button {
  border: 1px solid var(--cl-black);
  padding: 8px 16px;
  border-radius: 50px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.contact {
  background: var(--cl-black);
  color: var(--cl-white);
}/*# sourceMappingURL=style.css.map */